@CHARSET "UTF-8";

.mainTable,.mainTable table { background:#ffcccc;
 border:1px solid gray;
 border-collapse:collapse;
 color:#fff;
 font:normal 14px verdana, arial, helvetica, sans-serif;

}
.mainTable caption,.mainTable table caption { border:1px solid #5C443A;
 color:#5C443A;
 font-weight:bold;
 letter-spacing:20px;
 padding:6px 4px 8px 0px;
 text-align:center;
 text-transform:uppercase;
}
.mainTable td, th,.mainTable table td, th { color:#363636;
 padding:.4em;
}
.mainTable tr,.mainTable table tr { border:1px dotted gray;
}
.mainTable thead th, tfoot th,.mainTable table thead th, tfoot th { background:red;
 color:#FFFFFF;
 padding:3px 10px 3px 10px;
 text-align:left;
 text-transform:uppercase;
}
.mainTable tbody td a,.mainTable table tbody td a { color:#363636;
 text-decoration:none;
}
.mainTable tbody td a:visited,.mainTable table tbody td a:visited { color:gray;
}
.mainTable tbody td a:hover,.mainTable table tbody td a:hover { text-decoration:underline;
}
.mainTable tbody th a,.mainTable table tbody th a { color:#363636;
 font-weight:normal;
 text-decoration:none;
}
.mainTable tbody th a:hover,.mainTable table tbody th a:hover { color:white;
}
.mainTable tbody td+td+td+td a,.mainTable table tbody td+td+td+td a { background-image:url('bullet_blue.png');
 background-position:left center;
 background-repeat:no-repeat;
 color:#03476F;
 padding-left:15px;
}
.mainTable tbody td+td+td+td a:visited,.mainTable table tbody td+td+td+td a:visited { background-image:url('bullet_white.png');
 background-position:left center;
 background-repeat:no-repeat;
}
.mainTable tbody th, tbody td ,.mainTable table tbody th, tbody td { text-align:left;
 vertical-align:top;
}
.mainTable tfoot td,.mainTable table tfoot td { background:#5C443A;
 color:#FFFFFF;
 padding-top:3px;
}
.mainTable .odd,.mainTable table .odd { background:red;

}
.mainTable tr:hover,.mainTabletbody table tr:hover { background:red;
 border:1px solid #03476F;
 color:#000000;
}
